{# @var string content #}
{# @var string header #}
{# @var string footer #}
<html>
<head>
	<title>{{ title }}</title>
	{{ hScripts }}
	{{ hStyles }}
</head>
<body>
<div class="{{ block.cls }}">
	<main class="{{ block.elem('content') }}">
		{{ content }}
	</main>
	<header class="{{ block.elem('header') }}">
		{{ header }}
	</header>
	<footer class="{{ block.elem('footer') }}">
		{{ footer }}
	</footer>
</div>
</body>
</html>